body {
    background-color: firebrick;
    font-size: 1.25vw;

}

h1 {
    margin-left: .85vw;
    margin-right: .85vw;
    font-size: 3.5vw;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    text-align: center;
    font-size: 3vw;
}

h4 {
    text-align: center;
    font-size: 2.5vw;
    padding-bottom: 2.5vw;
}

p {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.5vw;
    font-family: 'Arial Narrow Bold', Arial, sans-serif;
}

.container{
    width:40vw;
}

.row#hemisphere {
    padding-top: 1vw;
}

img {
    width: 100%;
    height: auto;
    padding-bottom: 2vw;
    margin: 0;
}

   